# ---------------------
# Python bytecode
# ---------------------
__pycache__/
*.py[cod]

# ---------------------
# Virtual environment
# ---------------------
venv/
env/
.venv/

# ---------------------
# Environment variables / secrets
# ---------------------
.env
.env.*

# ---------------------
# Distribution / build
# ---------------------
*.egg
*.egg-info/
dist/
build/

# ---------------------
# Logs
# ---------------------
*.log

# ---------------------
# System/Editor junk
# ---------------------
.DS_Store
Thumbs.db
.vscode/

data/cedict_1_0_ts_utf-8_mdbg.txt.gz
data/cedict.json

stanza_resources/*
!stanza_resources/zh/
!stanza_resources/zh/tokenize/
!stanza_resources/zh/pos/
!stanza_resources/zh/defaults.json
!stanza_resources/zh/tokenize/*
!stanza_resources/zh/pos/*