# Backend
fastapi
uvicorn

# Database & ORM
sqlalchemy
asyncpg
greenlet>=2.0

# Authentication
python-jose

# NLP
spacy
stanza
langdetect

# Env & API
python-dotenv
openai

# Optional: lightweight Pinyin tool for Mandarin
pypinyin